* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  background-color: #ffff;
  border-radius: 15px;
  padding: 0 10px;
}

.title {
  width: 100%;
}

.title h1 {
  padding-top: 30px;
  color: rgb(6, 24, 140);
  font-size: 50px;
  text-align: center;
}

.todowrite {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 80%;
  height: 40px;
  padding-left: 5px;
  outline: none;
  border: 3px solid rgb(0, 255, 0);
  margin-right: 5px;
}

input::placeholder {
  font-size: 20px;
}

.fa-calendar-plus {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;
  font-size: 25px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.todolist {
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

.todolist ul li span i {
  padding: 0 5px;
  font-size: 18px;
}

i {
  cursor: pointer;
}

.fa-check {
  color: rgb(0, 255, 0);
}

.fa-edit {
  color: rgb(0, 0, 255);
}

.done {
  text-decoration: line-through;
}

.fa-trash-alt {
  color: rgb(255, 0, 0);
}
